


body {
    font-family: "Arial";
	
	box-sizing: border-box;
    width:1600px;
    height:1600px;
	border: 2px solid #000000;
	padding: 10px;

	background: url("guitar.PNG") center;
	background-size: contain;
	background-repeat: no-repeat;
	background-origin: content-box;
	
    
    

  /* Full height */
  
    
}






/*hier maken we de horizontale streep*/
.navbar {
    background-color: black;
    overflow: hidden;
    height: 63px;
}

/*Hier maak je de horizontale links mooier in de horizontale streep bar*/
.navbar a{
    float: left;
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size:17px;

}

.navbar ul{
    margin: 8px 0 0 0;
    list-style:none;
}

.navbar a:hover{
    color: tomato;
}

.side-nav{
    height: 100%;
    width:0;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:black;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top:60px;
    transition:1.5s;

}

.side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size: 22px;
    color:floralwhite;
    display: block;
    transition: 0,3s;
}

.side-nav a:hover{
    color:tomato;

}

.side-nav .btn-close{

    position:absolute;
    top:0;
    right:22px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
    transition:margin-left 1.5s;
    padding: 20px;
    overflow: hidden;
    width:100%;
}

body{
    color:white;
}